
.home .modal-container{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.7);
	padding-top: 180px;
	cursor: pointer;
}

.home .modal-container .closeButton{
	position: absolute;
	top: 30px;
	right: 30px;
}

.home .modal-container .modal-box{
	width: 350px;
	background: #ffffff;
	
	margin: auto;
	background: transparent;
	font-size: 11px;
}

.home .modal-header{
	color: #30648F;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 12px;
	background: #ffffff;
}

.home .title{
  margin-bottom: 20px;
  font-size: 12px;
  color: #30648F;
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 5px;
  padding-left: 30px;
  background: #ffffff;
}

.home .modal-body{
	border: 1px solid #ffffff;
	color: #ffffff;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 5px;
}

.home .modal-body input{
	border: 1px solid #ffffff;
	background: transparent;
	font-size: 12px;
	color: #ffffff;
	outline: none;
	box-shadow: none;
	opacity: 0.8;
}

.home .modal-body .small-submit-btn{
	background: #467ED4;
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: none;
	border: none;
	border-radius: 6px;
	outline: none;
	box-shadow: none;
}

.home .modal-body p{
	font-size: 12px;
}

.home .modal-body .small-submit-cancel{
	background: #DEDEDE;
	color: #333333;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: none;
	border: none;
	border-radius: 6px;
	outline: none;
	box-shadow: none;
}

.home .modal-body .small-submit-cancel:hover{
	background: #EAEAEA;
}

.home .modal-body .small-submit-delete{
	background: #DC6146;
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: none;
	border: none;
	border-radius: 6px;
	outline: none;
	box-shadow: none;
}

.home .modal-body .small-submit-delete:hover{
	background: #DE6B52;
}

.home .modal-body .small-submit-btn:hover{
	background: #588EE1;
}
