.menu{
	position: fixed;
	width: 75%;
	left: 50%;
	margin-left: -37.2%;
	transition: margin 200ms ease-in-out;
	z-index: 999999999;
	margin-top: -180px;
}

.menu.open{
	margin-top: -330px;
	transition: margin 50ms ease-in-out;
}

.menu ul{
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.menu ul li{
	list-style: none;
	margin-bottom: 15px;
}

.menu ul li a{
	text-decoration: none;
	color: #ffffff !important;
	font-size: 11px;
	letter-spacing: 1px;
	cursor: pointer;
}

.menu .menuContainer{
	/*min-width: 200px;*/
}

.menu .navContainer{
	padding-top: 8px;
	text-align: center ;
}

.menu .navContainer img{
	color: #ffffff !important;
	cursor: pointer;
/*	width: 30px;
	height: 20px;*/
}
